@media screen and (max-width: 767px) {
 
    .main-header {
        
        .header-container {

            .header-contact {
                justify-content: flex-start;
            }


            .header-contact {
                display: none;
            }
        }
    }


// footer 

.footer {
    flex-direction: column;

    .footer-content {
        padding: 30px 0px;
        text-align: center;
    }
}

// main content 

.main-section .main-content {
    padding-top: 200px;

        h1 {
            font-size: 35px;
            line-height: 58px;
        }

        h3 {
            font-size: 28px;
            margin-bottom: 48px;
        }
    }

}