@font-face {
  font-family: 'HeliosCond';
  src: url('../fonts/helioscondc-bold.otf');
  src: url('../fonts/helioscondc-bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HeliosExt';
  src: url('../fonts/HeliosExt.ttf');
  src: url('../fonts/HeliosExt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}