* {
  padding: 0;
  margin: 0;
  outline: none;
  color: #FFFFFF;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
}

html {
  margin-top: 0 !important;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

img {
  width: 100%;
}

/*settings*/
@import "fonts";
@import "var";
@import "slider";
@import "modal-alert";
/*over use blocks*/
@import "header";
@import "footer";
@import "form";
@import "home";

/*pages*/

/*media*/
@import "media/820h";
@import "media/1199";
@import "media/991";
@import "media/767";
@import "media/575";

.showForm {
  transition: all .3s;

  &:hover {
    color: #00ffff !important;
    background: #6C6CC4 !important;
  }
}